/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 13, 2022, 9:02:13 PM
    Author     : inmac
*/


.main {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.add-expense {
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.add-expense div,
.add-expense label,
.add-expense input,
.add-expense textarea {
  width: 100%;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

/*label,
input,
textarea {
  padding: 8px;
}

label,
[placeholder] {
  color: #555;
}

label i {
  margin: 0 10px 0 0;
}*/

.add-expense .field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

.add-expense input, textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}
.add-expense input:focus, textarea:focus {
  background: white;
  box-shadow: none;
}

.add-expense textarea {
  resize: none;
}
.add-expense textarea::-webkit-scrollbar {
  width: 0;
}

.add-expense button {
  background: #2f4ad0;
  margin: 16px 0 50px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
}
.add-expense button:hover {
  letter-spacing: 2px;
  box-shadow: none;
}

.add-expense {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.add-expense span {
  font-size: 16px;
}
.add-expense span .fas {
  margin: 0 0 0 10px;
}
.add-expense a {
  color: #000;
  font-size: 20px;
}

@media (max-width: 425px) {
  form {
    width: 100%;
  }
}